.app {
    text-align : center;
}

.app-logo {
    animation : app-logo-spin infinite 20s linear;
    height    : 80px;
}

.app-header {
    background-color : #222;
}

.app-intro {
    font-size : large;
}

@keyframes app-logo-spin {
    from { transform : rotate(0deg); }
    to { transform : rotate(360deg); }
}

main {
    margin     : 0 auto;
    max-width  : 600px;
    min-height : 500px;
}

@media screen and (max-width : 999px) {
    /* Up to 999px the below will have effect. */
    main {
        width : 100%;
        max-width : 100%;
        padding : 0 20px;
    }
}
