/* === Clear fixes === */

*,
*:before,
*:after {
    box-sizing         : border-box;
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
}

*:focus {
    outline : none;
}

.clear {
    clear : both;
}

.clearfix {
    zoom : 1;
}

.clearfix:before,
.clearfix:after {
    content : "";
    display : table;
}

.clearfix:after {
    clear : both;
}

/* === Normalization === */

html {
    font-family              : sans-serif;
    line-height              : 1.15;
    -ms-text-size-adjust     : 100%;
    -webkit-text-size-adjust : 100%;
}

body {
    margin : 0;
}

h1 {
    font-size : 2em;
    margin    : 0.67em 0;
}

h1 {
    font-size : 2em;
    margin    : 0.67em 0;
}

a {
    background-color             : transparent;
    -webkit-text-decoration-skip : objects;
}

a:active,
a:hover {
    outline-width : 0;
}

b {
    font-weight : inherit;
}

img {
    border-style : none;
}

svg:not(:root) {
    overflow : hidden;
}

/* === Resets === */

html,
body {
    margin    : 0;
    min-width : 320px;
    padding   : 0;
}

html {
    background : #fff;
    color      : #272822;
    font-size  : 16px;
    text-align : justify;
}

body {
    overflow-x : hidden;
    position   : relative;
    width      : 100%;
}

a {
    color              : #8f8f8f;
    cursor             : pointer !important;
    outline            : none;
    text-decoration    : none;
    transition         : all 0.2s ease-in-out;
    -moz-transition    : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
}

a:hover, a.active {
    color : #a0a0a0;
}

img {
    border         : none;
    height         : auto;
    max-width      : 100%;
    vertical-align : top;
    width          : auto;
}

div {
    border  : none;
    outline : none;
}

b {
    font-weight : bold;
}

h1 {
    font-weight : normal;
}
