.scores {
    padding-bottom : 20px;
}

.scores .symbol {
    border         : none;
    display        : inline-block;
    height         : 50px;
    margin         : 0;
    vertical-align : middle;
    width          : 50px;
}

.scores .symbol svg {
    margin : 0;
}

.scores .score {
    display    : inline-block;
    padding    : 0 10px;
    text-align : center;
}

.scores .score .number {
    display : inline-block;
    font-size : 30px;
}

.scores .score .number.breathing {
    animation : breathing infinite 3s linear;

}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
