.symbol {
    background-color   : white;
    border             : 1px solid black;
    height             : 75px;
    margin             : 1px;
    transition         : background-color .5s ease;
    -webkit-transition : background-color .5s ease;
    width              : 75px;

    > svg {
        margin : 5px;
    }
}
