.symbol {
    background-color   : white;
    border             : 1px solid black;
    height             : 75px;
    margin             : 1px;
    transition         : background-color .5s ease;
    -webkit-transition : background-color .5s ease;
    width              : 75px;
}

.symbol svg {
    margin : 5px;
}

@media screen and (max-width : 1199px) {
    /* Up to 1199px the below will have effect. */
    .row .symbol {
        height : 100px;
        width  : 100px;
    }
}

@media screen and (max-width : 999px) {
    /* Up to 999px the below will have effect. */
    .row .symbol {
        height : 125px;
        width  : 125px;
    }
}

@media screen and (max-width : 699px) {
    /* Up to 699px the below will have effect. */
    .row .symbol {
        height : 150px;
        width  : 150px;
    }
}

@media screen and (max-width : 549px) {
    /* Up to 549px the below will have effect. */
    .row .symbol {
        height : 85px;
        width  : 85px;
    }
}
