.row {
    display         : flex;
    justify-content : center;
}

.row .symbol {
    background-color   : white;
    border             : 1px solid black;
    height             : 60px;
    margin             : 1px;
    transition         : background-color .5s ease;
    -webkit-transition : background-color .5s ease;
    width              : 60px;
}
